# Ignorem el directori de compilació (per defecte build/ per a NetBeans)
build/

# Ignorem el directori nbproject/private, que conté configuracions locals de NetBeans
nbproject/private/

# Ignorem els fitxers generats per NetBeans
*.class
*.log

# Ignorem les carpetes i fitxers de sistema que poden ser generats segons l'OS
.DS_Store
Thumbs.db

# Ignorem arxius temporals i de configuració local
*.swp
*.tmp
*.bak
*.sublime-workspace
*.sublime-project
.idea/
*.iml

# Ignorem el directori PLANTILLA
PLANTILLA/

# Ignorem els arxius JAR, WAR i altres artefactes binaris generats
*.jar
*.war
*.ear

# Ignorem el directori de distribució (dist/) per a projectes Ant
dist/
